<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_blutoothlan._tcp.</string>
		<string>_blutooth-chat._tcp.</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app needs access to local network to discover and communicate with nearby devices.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app uses Bluetooth to discover and connect to nearby devices for peer-to-peer communication.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app uses Bluetooth to discover nearby devices.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera for palm authentication and hand detection.</string>
</dict>
</plist>